.emoji {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  max-width: 1.95ch;
  max-height: 1em;
  line-height: inherit;
  margin: -0.2ex 1px 0.2ex;
  color: transparent;
  min-width: 1em;
  font-size: 18px;
}
