.emoji {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  max-height: 1em;
  margin: -0.2ex 1px 0.2ex;
  font-size: 20px;
  line-height: 1;
  width: 1.7ch;
  white-space: nowrap;

  span {
    opacity: 0;
  }
}
