.emoji {
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  display: inline-block;
  max-height: 1em;
  margin: -0.2ex 0.5px 0.2ex;
  line-height: 1;
  width: 1.75ch;
  white-space: nowrap;
  font-size: 24px;
  overflow: hidden;

  .inner {
    color: transparent;
  }

  img {
    width: 100%;
  }
}
