.image {
  position: relative;
  overflow: hidden;
  z-index: 1;
  max-width: 100%;
  display: block;
}

.error {
  border-radius: 2px;
  color: #999;
  font-size: 14px;
  background-color: rgba(#fff, 0.36);
  box-shadow: 0 0 1px rgba(#000, 0.3);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30px;
}
