.box {
  position: relative;
  z-index: 1;
  margin: 0 3px;
  transition: box-shadow 0.3s;
  border-radius: 4px;
  overflow: hidden;

  &:hover {
    box-shadow: 0 0 0 3px var(--primary-color-4);
    z-index: 2;
  }
}

.img {
  max-width: 100%;
  display: block;
}
