.image {
  position: relative;
  transition: box-shadow 0.3s;
  border-radius: 4px;
  overflow: hidden;
  z-index: 1;

  &:hover {
    box-shadow: 0 0 0 2px var(--secondary-color);
    z-index: 2;
  }
}
