{
  "presets": [
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    ["@babel/preset-env", { "targets": "defaults" }]
  ],
  "plugins": ["react-refresh/babel"]
}
