.container {
  padding: 10px 16px 16px;
  background-color: #fff;
  box-shadow: 0 -2px 10px #eee;
  flex: 0 0 auto;
}

.handle {
  display: flex;
  padding: 6px 10px 20px;
}

.chat {
  min-height: 200px;
  font-size: 18px;
  caret-color: #333;
}
