.container {
  padding: 10px 16px 16px;
  flex: 0 0 auto;
  background-color: #fff;
  box-shadow: 0 -2px 10px rgba(#000, 0.05);
}

.handle {
  display: flex;
  justify-content: space-between;
  padding: 6px 0 20px;

  .menu {
    display: flex;
  }
}

.chat {
  min-height: 200px;
  max-height: 500px;
  overflow-y: auto;
  font-size: 18px;
  caret-color: rgba(#000, 0.7);
  padding: 2px;
}
