.user {
  background-color: rgb(#888, 0.1);
  padding: 0 3px;
  border-radius: 3px;
  color: var(--primary-color);
  cursor: pointer;
  transition: background-color 0.3s;

  &:active {
    background-color: rgb(#666, 0.3);
  }
}
