.focus {
  position: relative;
  z-index: 1;
  transition: box-shadow 0.3s;
  border-radius: 4px;
  display: inline-flex;

  &.block {
    display: block;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--primary-color);
    z-index: 2;
  }
}
