.file {
  border-radius: 4px;
  padding: 10px 14px;
  cursor: pointer;
  background-color: rgba(#fff, 0.5);
  box-shadow: 0 0 2px rgba(#000, 0.15);
  transition: box-shadow 0.3s;
  font-size: 14px;

  &:hover {
    box-shadow: 0 0 10px rgba(#000, 0.1);
  }
}

.title {
  color: rgba(#000, 0.5);
}

.viewer {
  margin-left: 10px;
}
