.message {
  padding: 12px 0;

  .avatar {
    width: 36px;
    height: 36px;
    border-radius: 9em;
    overflow: hidden;
    box-shadow: 0 0 2px rgba(#000, 0.2);
    flex: 0 0 auto;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .content {
    max-width: calc(100% - 46px);
  }
}

.header {
  display: flex;
  margin-bottom: 4px;

  .time {
    font-size: 12px;
    margin-right: 10px;
  }
}

%msg-bubble {
  max-width: 100%;
  border-radius: 6px;
  padding: 8px 10px;
  box-sizing: border-box;
}

.msg-wrapper {
  &-right {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;

    .avatar {
      margin-left: 10px;
    }

    .name {
      font-size: 12px;
    }

    .header {
      justify-content: flex-end;
    }

    .main {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }

    .bubble {
      @extend %msg-bubble;
      background-color: var(--secondary-color);

      a {
        color: var(--primary-color);
      }
    }
  }

  &-left {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    .avatar {
      margin-right: 10px;
    }

    .main {
      display: flex;
    }

    .name {
      font-size: 12px;
    }

    .bubble {
      @extend %msg-bubble;
      background-color: rgba(#000, 0.2);
    }
  }
}
