.message {
  margin-bottom: 12px;

  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 9em;
    overflow: hidden;
    box-shadow: 0 0 2px rgba(#000, 0.2);
    flex: 0 0 auto;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.header {
  display: flex;
  margin-bottom: 4px;

  .time {
    font-size: 12px;
    color: #999;
    margin-right: 10px;
  }
}

%msg-bubble {
  max-width: 100%;
  border-radius: 6px;
  padding: 8px 10px;

  :global {
    .public-DraftEditor-content > div > * > div {
      min-width: 0;
    }
  }
}

.msg-wrapper {
  &-right {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;

    .avatar {
      margin-left: 10px;
    }

    .name {
      color: darkgray;
      font-size: 12px;
    }

    .header {
      justify-content: flex-end;
    }

    .main {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }

    .bubble {
      @extend %msg-bubble;
      background-color: var(--primary-color);
      color: #fff;

      a {
        color: var(--contrast-color);
      }
    }
  }

  &-left {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    .avatar {
      margin-right: 10px;
    }

    .main {
      display: flex;
    }

    .name {
      color: darkgray;
      font-size: 12px;
    }

    .bubble {
      @extend %msg-bubble;
      background-color: gainsboro;
    }
  }
}
