:global {
  :root {
    --primary-color: rgb(71, 175, 219);
    --secondary-color: rgb(153, 215, 244, 0.6);
    --contrast-color: rgb(255, 208, 70);
  }

  a {
    color: var(--primary-color);
    text-decoration: unset;

    &:hover {
      text-decoration: underline;
    }
  }

  * {
    margin: 0;
    padding: 0;
    outline: none;
  }

  pre {
    padding: 4px;
    background: rgba(#fff, 0.3);
    border-radius: 4px;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    word-break: break-all;
  }

  code {
    padding: 2px 4px;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    word-break: break-all;
  }

  body {
    background-color: #f9f9f9;
    font-size: 16px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 14px;
  }

  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 6px;

    &:not(:first-child) {
      margin-top: 4px;
    }
  }

  input {
    outline: none;
  }

  .alert-confirm-header-close {
    display: none;
  }

  .rc-tooltip {
    background-color: unset;

    .rc-tooltip-arrow {
      display: none;
    }

    .rc-tooltip-inner {
      box-shadow: 0 0 6px #ddd;
      border-radius: 6px;
      border: none;
    }
  }

  .DraftEditor-root {
    .DraftEditor-editorContainer {
      border-left: unset;
    }
  }
}
